table{
    text-align: center;
}
.rak{
    width: 100px;
    height: 100px;
    background-color: crimson;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    color: rgb(239, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

#one:hover{

    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
@keyframes rotate {

        0%
        {
            transform: translateX(0px) rotate(0deg);
            transition:all 0s  ease-in-out 0s;
        }

        25%
        {
            transform: translateX(100px) rotate(180deg);
            transition: all 1s ease-in-out 0s;
        }
        50%
        {
            transform: translateX(200px) rotate(360deg);
            transition: all 1s ease-in-out 0s;
        }

        75%{
            transform: translateX(100px) rotate(180deg);
            transition: all 1s ease-in-out 0s;
        }

        100%
        {
            transform: translateX(0px) rotate(0deg);
            transition: all 1s ease-in-out 0s;
        }
}
#two:hover{

        animation-name: rotate2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
}
@keyframes rotate2 {
        0%
        {
            transform: translateX(-0px) rotate(0deg);
            transition:all 0s  ease-in-out 0s;
        }

        25%
        {
            transform: translateX(-100px) rotate(180deg);
            transition: all 1s ease-in-out 0s;
        }
        50%
        {
            transform: translateX(-200px) rotate(360deg);
            transition: all 1s ease-in-out 0s;
        }

        75%{
            transform: translateX(-100px) rotate(180deg);
            transition: all 1s ease-in-out 0s;
        }

        100%
        {
            transform: translateX(-0px) rotate(0deg);
            transition: all 1s ease-in-out 0s;
        }
}
#three:hover{

    animation-name: rotate3;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    
}
@keyframes rotate3 {

    0%
    {
        transform: translateY(0px) rotate(0deg);
        transition:all 0s  ease-in-out 0s;
    }

    25%
    {
        transform: translateY(100px) rotate(180deg);
        transition: all 1s ease-in-out 0s;
    }
    50%
    {
        transform: translateY(200px) rotate(360deg);
        transition: all 1s ease-in-out 0s;
    }

    75%{
        transform: translateY(100px) rotate(180deg);
        transition: all 1s ease-in-out 0s;
    }

    100%
    {
        transform: translateY(0px) rotate(0deg);
        transition: all 1s ease-in-out 0s;
    }
}